@import 'mixins';
@import 'index';

.about__section {
  width: 100vw;
  height: 50vh;
  box-sizing: border-box;

  &:after {
    clear: both;
    content: "";
    display: block;
  }

  .left__wrapper,
  .right__wrapper {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 0;

    .left__content,
    .right__content {
      align-self: center;
      height: 70%;

      & > div:first-of-type {
        height: 85%;
        display: grid;
      }
    }
  }

  .left__wrapper {
    background-color: white;
    width: 50%;
    float: left;

    .left__content {
      width: 50%;
      background-color: #8e8b8b;
      justify-self: center;

      & > div:first-of-type {
        background-color: black;
        box-shadow: 1px 0 0 1px white;
      }
    }
  }

  .right__wrapper {
    background-color: white;
    width: 50%;
    float: right;

    .right__content {
      width: 50%;
      background-color: white;
      justify-self: center;

      & > div:first-of-type {
        background-color: #a6bcce;
        display: grid;

        .thumbnail {
          background-image: url("../img/1.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 40%;
          width: 76%;
          align-self: center;
          justify-self: center;
        }
      }

      .slider {
        background-color: white;
        width: 80%;
        height: 25%;

        .tag {
          background-color: #afadad;
          display: inline-block;
          height: 100%;
          vertical-align: top;
          width: 80%;
          color: white;
          box-shadow: -1px 1px 0 0.8px #afadad;
          padding: 10px;

          h2 {
            font-size: 1rem;
            display: inline-block;
            overflow: hidden;
            width: 150px;
            font-weight: 100;
          }

          .hr {
            display: inline-block;
            width: 50px;
            height: 1px;
            background-color: white;
            margin-right: 10px;
            vertical-align: super;
          }
        }

        .arrows {
          background-color: white;
          display: inline-block;
          height: 100%;
          padding: 15px;
          box-sizing: border-box;
          width: 20%;

          svg {
            display: block;

            &:hover {
              color: $mainColor;
            }
          }
        }
      }
    }
  }
}
