.header{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 20px 25px;
  .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .logo {
      font-family: 'Playfair Display SC', serif;
      font-size: 2rem;
      text-align: center;
        }
        .searchBox{

          .searchInput{
            width:80%;
            marign:0 auto;
          }
        }
  }

}
