.header{
  position: absolute;
  background-color: transparent;
  width: 100%;
  padding: 20px 25px;
  .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .logo {
      font-family: 'Playfair Display SC', serif;
      font-size: 2rem;
      text-align: center;
        }
        .searchBox{
          &:after{
            clear:both;
            content:"";
            display: block;
          }
          .searchInput{
            width:20%;
            border:none;
            outline:none;
            transition: width .5s linear;
            margin:0 auto;
            float:right;
            line-height: 2rem;
            border-bottom: 2px solid black;

            &:focus,&:not([value=""]){
              width:80%;
            }
            &::placeholder{
              letter-spacing:2px;
              font-weight: bold;
              font-size: 2rem;
              color:#FFD972;
            }
          }
          svg{
            float:right;
            height: 2rem;
          }
        }
  }

}
