$itemWidth: 99%/3;

.newsItem {
  box-sizing: border-box;
  margin: 10px 0;

  .left__box {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 10px auto;

    .img {
      margin: 0 auto;
      display: block;
      background-color: #a6bcce;
      width: 100%;
    }
  }

  .right__box {
    display: block;
    box-sizing: border-box;
    width: 100%;

    .heading {
      font-size: 1.3rem;
      text-decoration: none;
      color: #a6bcce;
      text-transform: uppercase;
      font-weight: bold;
      box-sizing: border-box;
      display: inline-block;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 4.2rem;
      /* (Number of lines you want visible) * (line-height) */
      line-height: 1.4rem;
    }
  }
}
@media all and (min-width:768px) {
  .newsItem {
    width: $itemWidth;
    padding: 10px 20px;
    height: 200px;

    .left__box {
      display: inline-block;
      width: 50%;
      height: 100%;
      margin: 0 auto;
      .img {
        margin: 0 auto;
        display: block;
        background-color: #a6bcce;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .right__box {
      display: inline-block;
      box-sizing: border-box;
      width: 50%;
      vertical-align: top;
      padding-left: 20px;
    }
  }
}
