.scene {
	perspective: 800px;
	perspective-origin: 50% 100px;

.cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
	margin: 25% auto; /* keeps the cube centered */
	transform-origin: 0 100px;
	animation: spin-vertical 5s infinite linear;

.cube__face{
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: white;
 .picture{
	 width: 200px;
		height: 200px;
		object-fit: cover;
 }
}

.cube__face__back {
	background-color: red;
	transform: translateZ(-100px) rotateX(180deg);
}
.cube__face__right {
	background-color: yellow;
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.cube__face__left {
	background-color: green;
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.cube__face__top {
	background-color: pink;
	transform: rotateX(-270deg) translateY(-100px);
	transform-origin: top center;
}
.cube__face__bottom {
	background-color: blue;
	transform: rotateX(-90deg) translateY(100px);
	transform-origin: bottom center;
}
.cube__face__front {
	background-color: orange;
	transform: translateZ(100px);
}
}
}

@keyframes spin-vertical {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
}
