.scene {
	perspective: 800px;
	perspective-origin: 50% 110px;

.cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
	margin: 110px auto;
	transform-origin: 0 100px;
	animation: spin-vertical 5s infinite linear;
	transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);

& > div{
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: white;
 .picture{
	 width: 200px;
		height: 200px;
		object-fit: cover;
 }
}

.cube__face__3 {
		transform: translateZ(-100px) rotateX(180deg);
}

.cube__face__2 {
		transform: rotateX(-270deg) translateY(-100px);
	transform-origin: top center;
}
.cube__face__4 {
		transform: rotateX(-90deg) translateY(100px);
	transform-origin: bottom center;
}
.cube__face__1 {
	transform: translateZ(100px);
}
}
.cube__rectangle{
	width: 400px;
	& > div{
		width: 400px;
		h2{
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
		}
		h3{
			text-transform: uppercase;
			font-size: .8rem;
			font-weight: 100;
		}
		.slider__button{
			background-color: #a6bcce;
			color: white;
			border: none;
			border-radius: 2px;
			padding: 18px 40px;
			text-transform: uppercase;
			display: block;
			margin: 20px 0;
			font-weight: 600;
			letter-spacing: 1.5px;
			text-decoration: none;
			width: 200px;
			text-align: center;
		}
	}
}
}

// @keyframes spin-vertical {
// 	from { transform: rotateX(0); }
// 	to { transform: rotateX(-360deg); }
// }
